h1 {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.navbar {
  display: flex;
  padding: 8px 150px 8px 150px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  width: 702px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a {
  color: black;
  text-decoration: none;
}

.contactusbutton {
  padding: 24px 40px 24px 40px;
  border-width: 0 0 0 0;
  background-color: #020e35;
  color: white;
}

.menu :hover {
  text-decoration: underline;
  text-decoration-color: #ff5678;
  text-decoration-thickness: 4px;
}
