body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", sans-serif;
  color: rgba(2, 14, 53, 1);
}

* {
  box-sizing: border-box;
}

h2 {
  padding-right: 10px;
  font-weight: 700;
  font-size: 54px;
  line-height: 62px;
  margin: 0;
}

.basictxt {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.padd {
  padding: 100px 150px 100px 150px;
}

h1 {
  font-weight: 700;
  font-style: normal;
  color: #ff5678;
  size: 28px;
}

.navbar {
  height: 84px;
  display: flex;
  padding: 8px 150px 8px 150px;
  justify-content: space-between;
  box-shadow: 0 8px 20px #00000014;
  align-items: center;
}

.logo {
  width: 127px;
  height: 41px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.menu {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.menu a {
  color: rgba(2, 14, 53, 1);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  alignment-baseline: center;
}

.link {
  display: flex;
  padding: 20px 0 20px 0;
  gap: 60px;
  justify-content: space-between;
}

.contactusbutton {
  cursor: pointer;
  font-family: "Merriweather", sans-serif;
  padding: 24px 40px 24px 40px;
  border-width: 0 0 0 0;
  background-color: #020e35;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.menu-item:hover {
  text-decoration: underline;
  text-decoration-color: #ff5678;
  text-underline-offset: 8px;
  text-decoration-thickness: 4px;
}

.home {
  height: 1008px;
  top: 84.02px;
  display: flex;
  padding: 300px 150px 200px 150px;
  justify-content: space-between;
}

.block1 {
  display: flex;
  flex-direction: column;
  height: 457px;
  gap: 56px;
}

.textblock {
  display: flex;
  width: 548px;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-weight: 900;
  font-size: 76px;
  line-height: 110px;
}

.brands {
  color: white;
  background-image: linear-gradient(#ff5678, #ff5678);
  background-repeat: no-repeat;
  background-size: 100% 0.95em;
  background-position: 0 0.12em;
}

.btn {
  font-family: "Merriweather", sans-serif;
  cursor: pointer;
  height: 71px;
  width: 197px;
  padding: 24px 40px 24px 40px;
  border-width: 0 0 0 0;
  background-color: #020e35;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0 20px 40px #00000040;
}

.block2 {
  position: relative;
  display: flex;
  width: 592px;
  height: 508px;
  overflow: hidden;
  border-radius: 200px;
}

.imgcoffee {
  transform: translate(110px, 50px) scale(1.4);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 238, 246, 0.2);
  pointer-events: none;
}

.poweredby {
  height: 708px;
  top: 1092.03px;
  display: flex;
  justify-content: space-between;
}

.block2_1 {
  width: 517px;
  height: 435px;
  gap: 60px;
  display: flex;
  flex-direction: column;
}

.textblock2 {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.ptitle {
  display: inline;
}

.underline_2 {
  background-image: linear-gradient(#ff5678, #ff5678);
  background-repeat: no-repeat;
  background-size: 100% 0.95em;
  background-position: 0.1em 0.7em;
}

.poweredbtn {
  width: 460px;
  display: flex;
  justify-content: space-between;
}

.learnmorebtn {
  cursor: pointer;

  font-family: "Merriweather", sans-serif;
  width: 185px;
  height: 71px;
  padding: 24px 40px 24px 40px;
  border-width: 0 0 0 0;
  background-color: #020e35;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0 20px 40px #00000040;
}

.watch {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  align-self: center;
  margin-right: 20px;
}

.bigwatch {
  display: flex;
  gap: 23px;
}

.services {
  height: 792px;
  top: 1800.05px;
  display: flex;
  justify-content: space-between;
}

.block3_2 {
  gap: 120px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.underline {
  background-image: linear-gradient(#ff5678, #ff5678);
  background-repeat: no-repeat;
  background-size: 100% 0.95em;
  background-position: 0em 0.65em;
}

.stext {
  width: 545px;
  height: 410px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.four {
  display: flex;
  gap: 40px;
}

.numbox {
  padding-top: 8px;
  display: flex;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  border: 1px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(2, 14, 53, 1);
}

p {
  margin: 0;
}

.decale {
  transform: scaleY(0.85);
  transform-origin: top;
}

.writebox {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  gap: 20px;
}

.liltitle {
  display: flex;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

.decale2 {
  transform: translateY(-8.5px);
}

.block3_3 {
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.boulerose {
  position: absolute;
  top: 1987px;
  left: -10px;
}

.craft {
  height: 870px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block4_1 {
  width: 664px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.craftxt {
  line-height: 32px;
}

.textblock3 {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.team {
  height: 1485px;
  display: flex;
  flex-direction: column;
  gap: 104px;
  align-items: center;
}

.block5_1 {
  width: 1620px;
  height: 1109px;
  display: flex;
  flex-direction: column;
  gap: 51px;
}

.grid1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 19px;
  grid-row-gap: 51px;
}

.membert {
  width: 520px;
  height: 520px;
  border: solid 1px rgba(184, 184, 184, 1);
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-self: center;
  justify-content: center;
  border-radius: 50px;
  transition: all 0.2s ease;
}

.membert:hover {
  scale: 1.05;
  border: solid 1px rgba(184, 184, 184, 1);
  display: flex;
  flex-direction: column;
  padding: 71px 165px 71px 165px;
  gap: 60px;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.pink {
  max-width: 200px;
  align-self: center;
}

.info {
  width: 227px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: center;
}

.name {
  font-family: Merriweather;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0%;
  align-self: center;
}

.skill {
  align-self: center;
}

.previouswork {
  height: 1943px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.slidemenu {
  display: flex;
  height: 44px;
  gap: 60px;
  font-family: Merriweather;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  align-items: center;
}

.frame1 {
  background-color: rgba(255, 86, 120, 1);
  color: white;
  padding: 4px;
}

.block6_1 {
  height: 1376px;
  width: 100%;
  display: flex;
  gap: 32px;
}

.placeholder {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 238, 246, 1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr 2fr 1fr 4fr;
  grid-gap: 32px;
  width: 100%;
  height: 1376px;
}

.quatre {
  grid-row: 3 / 5;
}

.un {
  grid-row: 1 / 3;
}

.deux {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

.trois {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.cinq {
  grid-row: 1 / 2;
}

.six {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.testimonial {
  height: 1280px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.soustitre {
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 36px;
}

.testtitle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.block7_1 {
  width: 2236px;
  height: 672px;
  display: flex;
  gap: 32px;
  justify-content: center;
}

.review {
  transition: all 0.2s ease;
  height: 555px;
  width: 412px;
  border: solid 1px rgba(184, 184, 184, 1);
  display: flex;
  flex-direction: column;
  gap: 46px;
  align-self: center;
  justify-content: center;
  border-radius: 150px;
  padding: 60px 80px 60px 80px;
}

.content {
  height: 340px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: center;
}

.reviewtxt {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.reviewinfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-self: center;
}

.reviewskill {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.review:hover {
  height: 672px;
  width: 460px;
  padding: 40px 40px 40px 40px;
}

.centercontent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: center;
}

.stars {
  width: 206px;
  height: 27px;
  max-width: initial;
  max-height: initial;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}

.arrowsicon {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact {
  height: 1104px;
  display: flex;
  justify-content: space-between;
}

.contrond {
  max-width: 780px;
  max-height: 670px;
  align-self: center;
}

.block8_1 {
  height: 621px;
  width: 656px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.contactform {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

input[type="text"],
input[type="email"] {
  height: 70px;
  width: 100%;
  background-color: rgba(255, 238, 246, 1);
  border: solid 1px rgba(2, 14, 53, 1);
  border-radius: 10px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.msgcard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#msg {
  height: 200px;
}

.newsletters {
  height: 870px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nopadd {
  padding-right: 0px;
}

footer {
  height: 511px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 60px;
  position: relative;
}

.block9_1 {
  display: flex;
  height: 269px;
  padding: 0px 150px 0px 150px;
  justify-content: space-between;
}

.terms {
  height: 82px;
  background-color: rgba(2, 14, 53, 1);
  display: flex;
  padding: 32px 150px 32px 150px;
  justify-content: space-between;
}

.info {
  width: 410px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.socials {
  display: flex;
  gap: 40px;
}

.adress {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.minititle {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
}

.minitxt {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
}

.footercolumn {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.footertitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
}

.footertxt {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 18px;
}

.white {
  color: white;
}

.termsbox {
  display: flex;
  gap: 60px;
}

.firstfooterdeco {
  position: absolute;
  top: -30px;
  z-index: -1;
}

.secondfooterdeco {
  width: 609px;
  height: 525px;
  position: absolute;
  top: -30px;
  left: 1365px;
  z-index: -1;
}
